@import "tailwindcss";

:root {
    --accent: #163aa5;
    --accent-dark: #000d8a;
    --primary: #4169e1;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

body {
  background: #f9f9f9;
}

.shadow-bottom {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
}

.hero-shadow {
  box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.25rem;
}

h4{
  font-size: 1rem;
}

h5{
  font-size: 0.875rem;
}

h6{
  font-size: 0.75rem;
}

p{
  font-size: 0.875rem;
}